{% extends 'layout.html' %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
        <h1 class="display-5 fw-bold text-white">文字和代码融合写作</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">无论是一个有想象力的创意，还是一篇科幻故事，都可以在以区块链为主导的Web3.0时代彰显其从前被忽视的价值。</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">开始创作</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">加入创作营</button>
            </div>
        </div>
        </div>
    </div>

    <section class="container">
        <div class="row align-items-md-stretch mt-4">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                <button class="btn btn-outline-light" type="button">Example button</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Add borders</h2>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
                </div>
            </div>
        </div>
    </section>

      <section class="py-3 container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">科幻产业区块链</h1>
            <p class="lead text-muted">这是一个世界。这里的故事互相缠绕，永远流传……</p>
            <p class="lead text-muted">去中心化，所有创作者共同拥有。</p>
            <p class="lead text-muted">底层区块链技术，永久存证。</p>
            <p>
              <a href="#" class="btn btn-info my-2">赛凡链蓝皮书</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
            <div class="col-lg-6">
                <section>
                  <h2>《意谛》</h2>
                  首部星河书，赛凡链的奠基之作，提供了一个开放、灵活的概念框架。
                  <ul>
                    <li>作者：<span>3</span>人</li>
                    <li>字数：<span>3</span>万</li>
                    <li>评论：<span>3</span>篇</li>
                  </ul>
                  <a href="" class="btn btn-sm btn-primary">立即参与创作</a>
                </section>
            </div>
        </div>
      </section>

{% endblock %}